*, body {
    font-family: 'Oxygen',"Sans-Serif";
}
body {
    background-color: #e5e5e5;
}
.form-wrapper { 
    position: relative; 
    width: 100vw; height: 100vh;
}
form {
    background-color: #fff;
    width: 95%;
    max-width: 23.5rem;
    padding: 1.8rem;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 50%;
    box-shadow: 0px 3px 5px rgba(0,0,0,.15);
    transform: translate(-50%, -47%);
    opacity: 0;
    animation-timing-function: ease-out;
    animation-name: fade-form;
    animation-duration: 600ms; /* Delay for ~200ms then run the animation in 400ms*/
    animation-fill-mode: forwards;
}
@keyframes fade-form {
    0% { /* Delay */
	opacity: 0; transform: translate(-50%, -47%);
    }
    33.333% { /* Start animation */
	opacity: 0; transform: translate(-50%, -47%);
    }
    100% {
	opacity: 1; transform: translate(-50%, -50%);
    }
}
.form-input {
    width: 100%;
    margin: 1.2rem auto;
    height: 3rem;
    background-color: rgb(242, 242, 242);
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5rem;
    display: block;
    position: relative;
    z-index: 2;
}
.input-email-wrapper:after,
.input-password-wrapper:after {
    content: "";
    display: block;
    height: 1.2rem; width: 1.2rem;
    right: 2.3rem;
    position: absolute;
    z-index: 3;
    margin-top: -3.3rem;
    opacity: .3;
}
.hide-icon:after { display: none; }
.input-email-wrapper:after {
    background: url(../images/envelope.svg) center no-repeat;
    background-size: 1.2rem auto;
}
.input-password-wrapper:after {
    background: url(../images/lock.svg) center no-repeat;
    background-size: auto 1.2rem;
}
form a {
    color: #404040;
    text-decoration: none;
    padding-bottom: .4rem;
    border-bottom: 1px solid #fff;
}
form a:hover {
    color: #404040;
    animation-timing-function: ease-out;
    animation-name: highlight-link;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes highlight-link {
    0% { 
	color: #404040; 
	border-bottom: 1px solid #fff;
    }
    100% { 
	color: #c09e5a; 
	border-bottom: 1px solid #c09e5a;
    }
}
.form-submit {
    color: #fff;
    opacity: 0;
    border: 0;
    padding: .75rem 2rem;
    animation-name: form-submit;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    float: right;
    cursor: pointer;
    background-color: #c09e5a;
}

@keyframes form-submit {
    0% { /* Delay */
	opacity: 0;
    }
    55% { /* Start animation */
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}
.form-submit:hover { box-shadow: 2px 2px 0px rgba(0,0,0,.15); }
.form-submit:active { box-shadow: inset 2px 2px 0px rgba(0,0,0,.15); }
.submit-wrapper:hover .candy-cane {
    opacity: 1;
}

input:focus, a { outline: none; }
.form-submit::-moz-focus-inner,
a::-moz-focus-inner { border: 0; }
h1,h4 { 
    text-align: center; 
    font-weight: normal;
}
h4 { color: #a9a9a9; }
.capture {
    opacity: 1;
    color: rgb(242, 242, 242);
    animation-name: capture-input;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.capturedText {
    font-size: 110%;
    line-height: 1.5rem;
    color: rgba(0,0,0,.35);
    display: block;
    position: absolute;
    z-index: 1;
    padding: .5rem;
    margin-top: -4rem;
}
@keyframes capture-input {
    0% { width: 100%; padding: .5rem .5rem; opacity: 1;}
    99% { width: 0.0001%; padding: .5rem 0rem; opacity: 1; }
    100% { width: 0.0001%; padding: .5rem 0rem; opacity: 0; }
}

.error { 
    animation-name: show-error;
    animation-duration: 100ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes show-error {
    0% { border-color: #d4d4d4; }
    100% { border-color: #CE1313; }
}