@import "settings";
@import "foundation";

@font-face {
  font-family: 'MagistralC';
  src: url('../assets/fonts/magistralc.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/magistralc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/magistralc.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/magistralc.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/magistralc.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/magistralc.otf')  format('opentype'), /* Open Font */
}

body {
    background: #a8adc1; 
    background: -moz-linear-gradient(-45deg,  #a8adc1 0%, #b8b9c1 100%); 
    background: -webkit-gradient(linear, left top, right bottom,
				 color-stop(0%,#a8adc1),
				 color-stop(100%,#b8b9c1)); 
    background: -webkit-linear-gradient(-45deg,  #a8adc1 0%,#b8b9c1 100%); 
    background: -o-linear-gradient(-45deg,  #a8adc1 0%,#b8b9c1 100%); 
    background: -ms-linear-gradient(-45deg,  #a8adc1 0%,#b8b9c1 100%);
    background: linear-gradient(135deg,  #a8adc1 0%,#b8b9c1 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(
	startColorstr='#a8adc1', endColorstr='#b8b9c1',GradientType=1 );
}

body:before {
    content: " ";
    height: 100vh; width: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.59) 82%,
				     rgba(255,255,255,0.56) 83%,rgba(255,255,255,0) 100%); 
    background: -webkit-gradient(linear, left top, left bottom,
				 color-stop(0%,rgba(255,255,255,0)),
				 color-stop(82%,rgba(255,255,255,0.59)),
				 color-stop(83%,rgba(255,255,255,0.56)),
				 color-stop(100%,rgba(255,255,255,0))); 
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,
					rgba(255,255,255,0.59) 82%,
					rgba(255,255,255,0.56) 83%,
					rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,
				   rgba(255,255,255,0.59) 82%,
				   rgba(255,255,255,0.56) 83%,
				   rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,
				    rgba(255,255,255,0.59) 82%,
				    rgba(255,255,255,0.56) 83%,
				    rgba(255,255,255,0) 100%); 
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,
				rgba(255,255,255,0.59) 82%,
				rgba(255,255,255,0.56) 83%,
				rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
	startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}

h1 { text-transform: uppercase; }

form {
    background: rgba(0,0,0,.52);
    padding: 4.4% !important;
    -moz-box-shadow:    0 0 15px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.4);
    box-shadow:         0 0 15px rgba(0,0,0,.4);
}

.loginForm {
    transform: scaleY(0); 
    max-width: 1px;
    margin: 0 auto;
    padding: 4.4% 0 !important;
    margin-top: 2%;
    animation: slideOutHoriz 650ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes slideOutHoriz {
  0% {
      margin-top: 2%;
      transform: scaleY(0);
      max-width: 1px;
  }
  65% {
      margin-top: 0;
      transform: scaleY(1);
      max-width: 1px;
  }
  100% {
      margin-top: 0;
      transform: scaleY(1);
      max-width: 100%;
  }
}

.login-content-wrapper * { white-space: nowrap; }

.login-content-wrapper {
    width: 94.6%;
    margin: 0 auto;
    opacity: 0;
    animation: slowFadeIn 850ms ease-out;
    animation-fill-mode: forwards;
}

@keyframes slowFadeIn {
  0% { opacity: 0; } 90% { opacity: 0; } 100% { opacity: 1; }
}

.loginForm.pending {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); 
    border-radius: 0rem;
    border: 0px solid rgba(0,0,0,.52);
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    top: 0%;
    opacity: 1;
    max-width: 55rem;
    max-height: 45rem;
    animation: pendingForm 350ms cubic-bezier(0.4, 0, 1, 1);
    animation-fill-mode: forwards;
}
@keyframes pendingForm {
  0% {
      background-color: rgba(0,0,0,.52);
      border: 0px solid rgba(0,0,0,.52);
      border-radius: 0rem;
      top: 0%;
      opacity: 1;
      width: 100%;
      height: auto;
  }
  15% {
      width: 300px;
      height: 300px;
  }
  43% {
      background-color: rgba(0,0,0,.12);
      border: 0px solid rgba(0,0,0,.32);
      border-radius: 20px;
      width: 250px;
      height: 250px;
  }
  95% {
      background-color: rgba(0,0,0,0);
      border-radius: 25rem;
      border: 25px solid rgba(0,0,0,.22);
      opacity: 1;
      width: 100px;
      height: 100px;
  }
  100% {
      border: 10px solid rgba(0,0,0,0);
      border-radius: 30px;
      top: 50%;
      opacity: 0;
      width: 10px;
      height: 10px;
  }
}
.loginForm.pending .login-content-wrapper {
    animation: fadeOut 150ms ease-out;
    animation-fill-mode: forwards;
}

.pending-circle {
    background-size: auto 100%;
    height: 233px;
    width: 233px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -116px;
    margin-top: -69px;
    background-position-y: 0px;
    -webkit-transform-origin: 50% 50%;
}

.c01 {
    /* display: none; */
    background-image: url(../images/pending-sprite.svg);
    background-position-x: -1px;
    animation: fadeIn 100ms ease-out forwards,
               circle001 2000ms ease-out infinite;
}
.c02 {
    /* display: none; */
    background-image: url(../images/pending-sprite.svg);
    background-position-x: -235px;
    animation: fadeIn 200ms ease-out forwards,
               circle001 2500ms ease-out infinite;
}
.c03 {
    /* display: none; */
    background-size: auto 100%;
    background-image: url(../images/pending-sprite.svg);
    height: 50px; width: 50px;
    margin: -109px 0 0 -25px;
    background-position-x: -97px;
    animation: fadeIn 200ms ease-out forwards,
               circle003 450ms ease-in forwards,
               fullRotation 1500ms 450ms ease-in alternate infinite;
}
.c04 {
    background-image: url(../images/pending-sprite.svg);
    background-position-x: -699px;
    animation: fadeIn 500ms ease-out forwards,
               halfFadeIn 250ms ease-out alternate infinite;
}
.c05 {
    /* display: none; */
    background-image: url(../images/pending-sprite.svg);
    background-position-x: -932px;
    animation: fadeIn 200ms ease-out forwards,
               circle004 2500ms ease-out infinite;
}
.c06 {
    /* display: none; */
    background-image: url(../images/pending-sprite.svg);
    background-position-x: -1166px;
    animation: fadeIn 200ms ease-out forwards,
               circle005 2200ms ease-out infinite;
}
.c07 {
    /* display: none; */
    background-image: url(../images/pending-sprite.svg);
    background-position-x: -1398px;
    animation: fadeIn 200ms ease-out forwards,
               circle006 2200ms ease-out alternate infinite;
}
.c08 {
    /* display: none; */
    background-image: url(../images/pending-sprite.svg);
    background-position-x: -1634px;
    animation: fadeIn 220ms ease-out forwards,
               circle007 2000ms ease-out alternate infinite;
}

@keyframes circle001 {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(30deg); }
    50% { transform: rotate(-30deg); }
    70% { transform: rotate(-50deg); }
    100% { transform: rotate(0deg); }
}
@keyframes fullRotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-99deg); }
}
@keyframes circle003 {
    0% {
	height: 50px; width: 50px;
	margin: 8px 0 0 -25px;
	background-position-x: -97px;
    }
    100% {
	height: 233px; width: 233px; 
	margin: -71px 0 0 -116px;
	background-position-x: -467px;
    }
}
@keyframes circle004 {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(-30deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}
@keyframes circle005 {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(75deg); }
    75% { transform: rotate(30deg); }
    100% { transform: rotate(0deg); }
}
@keyframes circle006 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(50deg); }
}
@keyframes circle007 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(65deg); }
}




form h2, form label { color: #fff; }

input:not([type="submit"]) {
    border-radius: 3px !important;
    margin-bottom: 1.275rem !important;
    z-index: 2;
}
input:input-placeholder { color: rgba(255,255,255,0.23) !important; }


.focusBefore, .focusBefore:after,
.focusAfter, .focusAfter:after {
    opacity: 0;
    animation: fadeIn 350ms;
    animation-fill-mode: forwards;
}
.fadeOut {
    animation: fadeOut 350ms;
}
.focusBefore, .focusBefore:after {
    display: block;
    float: left;
    height: .8rem;
    width: .8rem;
    margin: -.3rem 0 -.8rem -.3rem;
}
.focusAfter, .focusAfter:after {
    display: block;
    width: .8rem;
    height: .8rem;
    float: right;
}
.focusBefore {
    border-radius: .3rem 0 0 0;
    border-top: 1px solid rgba(255,255,255,.498);
    border-left: 1px solid rgba(255,255,255,.498);
}
.focusBefore:after {
    content: " ";
    border-radius: 0 0 0 .3rem;
    border-bottom: 1px solid rgba(255,255,255,.498);
    border-left: 1px solid rgba(255,255,255,.498);
    margin: 1.875rem 0 0 -0.0215rem;
}
.focusAfter {
    border-radius: 0 .3rem 0 0;
    border-top: 1px solid rgba(255,255,255,.498);
    border-right: 1px solid rgba(255,255,255,.498);
    margin-top: -3.75rem;
    margin-right: -.3rem;
}
.focusAfter:after {
    content: " ";
    border-radius: 0 0 .3rem 0;
    border-bottom: 1px solid rgba(255,255,255,.498);
    border-right: 1px solid rgba(255,255,255,.498);
    margin: 1.9rem -.05rem 0 0;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    margin: 0;
    border-radius: 3px;
    padding-left: 1.8rem;
    padding-top: .39rem;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0,0,0,.29);
}
input[type="checkbox"] + label span { margin-left: 1.25rem; }
input[type="checkbox"]:checked + label {
    background-color: rgba(255,255,255,.29);
}
.form-row {
    height: 1.5rem;
    margin-bottom: 1.4rem;
}
.forgot-password-wrapper a { color: #fff; }
.forgot-password-wrapper a:hover {
    /* Replace with slow fade in and out animation */
    /* text-decoration: underline; */
}
.forgot-password-wrapper {
    display: block;
    position: relative;
    float: right;
    text-align: right;
    padding-right: 1.5rem;
    width: 9rem;
    margin-top: .8rem;
}
.actions {
    width: 80%;
    float: right;
    overflow: hidden;
}
.submit-wrapper {
    position: relative;
    float: right;
}
.submit-wrapper .focusBefore { margin: 0 -.8rem 0 0; }
.submit-wrapper .focusAfter {
    position: absolute;
    margin: 0;
    right: 0;
}
@-moz-document url-prefix() {
    .submit-wrapper .focusBefore { margin: .15rem -.8rem 0 0; }
    .submit-wrapper .focusAfter { margin-top: .125rem; }
}
.form-submit {
    position: relative;
    float: right;
    width: 5rem;
    text-align: center;
    background-color: rgba(0,0,0,.52);
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: .5rem 1rem;
    -moz-box-shadow:    0 0 15px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.4);
    box-shadow:         0 0 15px rgba(0,0,0,.4);
    margin: .5rem;
    font-family: 'MagistralC';
}






@keyframes halfFadeIn {
  from { opacity: 1; } to { opacity: .5; }
}
@keyframes fadeOut {
  from { opacity: 1; } to { opacity: 0; }
}
@keyframes fadeIn {
  from { opacity: 0; } to { opacity: 1; }
}